body {
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 3em;
    align-items: center;
    width: 100vw;
    color: white;
    font-weight: bold;
    background-color: #002358;
}

.navbar__logo {
    font-size: 1.5rem;
    margin: .5rem;

}

hr {
    margin: 0;
    margin-bottom: 5px;
}

.navbar__logo:hover {
    cursor: pointer;
}
.navbar__section {
    margin-top: .5rem;
    align-items: center;

}

.navbar__list {
    margin: 0;
    margin-top: 0.7rem;
    padding: 0%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.navbar--link {
    text-decoration: none;
    padding-right: 1em;
    color: white;
}

/*hover*/
li a::after {
    content: "";
    display: block;
    height: 0.4rem;
    width: 0%;
    background-color: #a2c3f5;
    bottom: -1em;
    transition: all ease-in-out 250ms;

}

li a:hover::after {
    width:80%;
}

/*lookfor*/

.lookfor {
    margin-left: 1em;

}

.lookfor input {
    min-height: 30px;
}

.lookfor button {
    min-height: 30px;
    border: none;
    background-color: #a2c3f5;
    border-radius: 5px;
}

.lookfor button:hover {
    cursor: pointer;
    background-color: #002358;
    color: white;
    
}


/*burger menu*/

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    background-color: white;
    height: 3px;
    width: 100%;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
        
    }

    .navbar__logo {
        padding-top:.4em;
    }

    .navbar--link {
        width: 100%;
        text-align: center;
    }

    .navbar__section {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__section {
        width: 100%;
    }
    .navbar__section ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items:center;
        border: 0;
        text-align: center;
        padding: 0;
    }
    li a:hover::after {
        width:100%;
    }

    .navbar__section.active {
        display: flex;
    }

    .lookfor {
        margin-left: 25%;
        margin-right: 25%;
        width: 100vw;
        justify-content: center;
    }
}