body {
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #002358;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 3em;
    align-items: center;
    width: 100vw;
    color: white;
    font-weight: bold;
}

.navbar__logo {
    padding-left: 3em;
    padding-bottom: 1.4em;
}

.navbar__logo:hover {
    cursor: pointer;
}

.navbar__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.navbar--link {
    text-decoration: none;
    padding-right: 1em;
    color: white;
}

/*hover*/
li a::after {
    content: "";
    display: block;
    height: 0.4rem;
    width: 0%;
    background-color: #a2c3f5;
    bottom: -1em;
    transition: all ease-in-out 250ms;

}

li a:hover::after {
    width:80%;
}

/*burger menu*/

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    background-color: white;
    height: 3px;
    width: 100%;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
        
    }

    .navbar__logo {
        padding-top:1em;
    }

    .navbar--link {
        display: none;
        width: 100%;
      
    }


    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__list {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items:center;
        border: 0;
        text-align: center;
        padding: 0;
    }
    li a:hover::after {
        width:100%;
    }

    .navbar__list.active {
        display: flex;
    }
}